@use "../utils/" as *;

.rooms-container {
  width: min(80%, 100rem);

  h1 {
    color: $violet2;
    margin-bottom: 3rem;
  }

  .rooms-map {
    width: 100%;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 30rem));
    justify-content: center;
    align-items: center;

    .individiual-room-container {
      box-shadow: 18px 20px 68px -3px rgba(0, 0, 0, 0.15);
      -webkit-box-shadow: 18px 20px 68px -3px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 18px 20px 68px -3px rgba(0, 0, 0, 0.15);
      padding: 3rem 2rem;
      border-radius: 2rem;
      color: $white;
      background: $violet2;
      text-align: center;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        scale: 1.01;
      }

      .room-location-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 1rem;
        margin-bottom: 1.5rem;
        color: $yellow1;
        text-transform: capitalize;

        svg {
          fill: $yellow1;
        }
      }

      .room-text-info-container {
        h2 {
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }
  }
}
