@use "../utils/" as *;

.schedule-container {
  width: min(90%, 100rem);
  color: $violet2;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  .cinemas-schedule-map {
    max-width: 40rem;
    box-shadow: 15px 10px 53px 0px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 15px 10px 53px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 15px 10px 53px 0px rgba(0, 0, 0, 0.07);
    border-radius: 1rem;
    padding: 2rem 2rem;
    margin: 3rem auto;

    .cinema-schedule {
      padding: 2rem 0;

      &:not(:last-of-type) {
        border-bottom: 0.2rem dotted $grayColor3;
      }

      .cinema-title-container {
        margin-bottom: 1rem;
        display: grid;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        grid-template-columns: 2rem auto;

        .cinema-title {
          text-transform: capitalize;
          font-weight: 500;
        }
      }

      .cinema-dates-map {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 1.2rem;
        gap: 2rem;
        font-weight: 600;

        .date-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: $yellow1;
          border-radius: 0.5rem;

          .date,
          .language {
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
