@use "utils/" as *;
@use "homeStyles/" as *;
@use "eventPageStyle/" as *;
@use "seatPickerStyles/" as *;
@use "registerPageStyles/" as *;
@use "./paymentPage/" as *;
@use "./paymentDonePage/" as *;

main {
  background: $background;
  display: flex;
  flex-direction: column;
  align-items: center;
}
