@use "utils/" as *;
@use "homeStyles/" as *;
@use "eventPageStyle/" as *;
@use "seatPickerStyles/" as *;
@use "registerPageStyles/" as *;
@use "./paymentPage/" as *;
@use "./paymentDonePage/" as *;
@use "./RoomsPageStyle/" as *;
@use "./aboutUs/" as *;
@use "dashboardStyles/" as *;
@use "movieSchedule/" as *;

main {
  width: 100%;
  min-width: fit-content;
  background: $background;
  display: flex;
  flex-direction: column;
  align-items: center;
}
