@use "../utils/" as *;

:root {
  --seat-width: 3rem;
  --seat-height: 2rem;
}

$seatWidth: var(--seat-width);
$seatHeight: var(--seat-height);

.seat-map-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem;

  //   continue button
  .continue-btn {
    background: $grayColor3;
    padding: 0.3em 1.2em;
    color: $white;
    border-radius: 0.3em;
    transition: 0.5s;

    &.active-btn {
      background: $red;

      &:hover {
        background: $redLight;
      }
    }
  }

  //   row seats
  .row-seats {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;

    .individual-seat {
      width: $seatWidth;
      height: $seatHeight;
      background: $violet1;
      color: $white;
      position: relative;
      border-radius: 0.3em;

      &.unavailable-seat {
        background-color: $grayColor2;

        &:hover {
          cursor: auto;
        }
      }

      &.booked-seat {
        background-color: $red;
      }

      &::after {
        content: "";
        position: absolute;
        top: -1rem;
        left: 50%;
        width: calc(var(--seat-width) * 0.66);
        height: calc(var(--seat-height) / 2);
        background: inherit;
        transform: translateX(-50%);
        border-radius: 0.2em;
      }
    }
  }

  //   screen element
  .screen-container {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;

    h1 {
      width: 30rem;
      font-size: 1.4rem;
      padding-bottom: 0.5rem;
      border-bottom: 0.5rem solid $violet2;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
  }

  //   info bar
  .seat-info-bar-container {
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;

    .info-bar-state {
      position: relative;
      padding-left: 3rem;
      text-transform: capitalize;

      &::after {
        --size: 2rem;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        background-color: $violet1;
      }

      &.taken::after {
        background-color: $grayColor2;
      }
      &.selected::after {
        background-color: $red;
      }
    }
  }

  //   ticket number info
  .ticket-number-info-container {
    width: min(80%, 30rem);
    text-align: center;
    background: $violet2;
    color: $white;
    margin-bottom: 3rem;
    position: relative;
    padding: 1rem 0;

    --decoration-size: 3rem;
    --decoration-position: -2.4rem;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      width: var(--decoration-size);
      height: var(--decoration-size);
      background: $white;
      border-radius: 50%;
    }

    &::after {
      right: var(--decoration-position);
    }
    &::before {
      left: var(--decoration-position);
    }
  }
}
