@use "../utils/" as *;

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  z-index: 10;

  &.hide-sidemenu {
    z-index: -10;
    opacity: 0;

    .sidemenu-center {
      transform: translateX(150%);
    }
  }

  .sidemenu-center {
    width: min(90%, 30rem);
    height: fit-content;
    background: $violet1;
    text-align: center;
    padding: 3rem 0;
    border-radius: 1.5em;
    transition: 0.5s ease-in-out;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        width: 80%;
        padding: 1.5rem 0;
        transition: 0.5s;

        &:not(:first-of-type) {
          border-top: 0.1rem solid rgba(0, 0, 0, 0.15);
        }

        a:hover,
        button:hover {
          color: $red;
        }

        .sidemenu-dropdown {
          overflow: hidden;
          transition: 0.5s;

          &.show-sidemenu-rooms {
            .dropdown-content {
              height: 10em;
              transition: 0.5s;
            }
          }

          .dropdown-content {
            height: 0;
            transition: 1s;
          }
        }
      }
    }
  }
}
