@use "../utils/" as *;

.about-us-container {
  width: min(80%, 100rem);

  h1 {
    color: $violet2;
    margin-bottom: 3rem;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
  }

  img {
    width: min(100%, 40rem);
    margin: 0 auto;
  }
}
