@use "@/utils/style/" as *;

.filter-container {
  width: min(90%, 50rem);
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2rem;
  color: $grayColor;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 5.2rem;

  @include tablet {
    flex-direction: row;
  }

  .filter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    .css-b62m3t-container {
      width: min(80%, 27rem);
    }
  }
}
