$background: var(--background);
$violet1: var(--violet-1);
$violet2: var(--violet-2);
$grayColor: var(--gray-color);
$white: var(--white);
$red: var(--red);
$redLight: var(--red-light);
$yellow1: var(--yellow-1);

:root {
  --background: rgb(255, 255, 255);
  --medium-blue: #f8fcff;
  --dark-blue-1: #3184c3;
  --violet-1: rgb(51, 53, 69);
  --violet-2: rgb(34, 37, 57);
  --gray-color: rgb(51, 51, 51);
  --white: white;
  --red: rgb(248, 68, 100);
  --red-light: rgb(249 80 112);
  --yellow-1: #f3993e;
}
