$background: var(--background);
$componentColors: var(--component-colors);
$grayColor: var(--gray-color);
$mediumBlue: var(--medium-blue);
$darkBlue1: var(--dark-blue-1);

:root {
  --background: #e7f5ff;
  --medium-blue: #f8fcff;
  --dark-blue-1: #3184c3;
  --component-colors: #ffffff;
  --gray-color: #4d4d4d;
}
