@use "@/utils/style/" as *;

.payment-completed-container {
  width: 80%;
  min-width: fit-content;

  .ticket-purchassing-information {
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;

    h1 {
      margin-bottom: 1rem;
      color: $violet2;
    }

    p {
      width: 100%;
      text-align: center;
      font-weight: 500;
      margin-bottom: 2rem;
    }

    .download-btn {
      color: $white;
      background: $red;
      padding: 0.5em 1.5em;
      border-radius: 0.3em;

      &:hover {
        background: $redLight;
      }
    }
  }

  .tickets-group-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: transparent;
    margin: 0 auto;

    .ticket-container {
      display: grid;
      justify-content: center;
      grid-template-columns: minmax(42rem, auto) auto;
      grid-template-rows: auto;
      --border-radius: 1rem;

      .ticket-text-info-container {
        background: $violet2;
        color: $white;
        display: grid;
        place-items: center;
        text-align: center;
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);

        .ticket-text-info {
          border: 0.2rem dashed $yellow1;
          padding: 1.8rem 3.9rem;
          border-radius: var(--border-radius);
          margin: 3rem 0;

          h2 {
            color: $red;
            font-size: 3rem;
            margin-bottom: 1rem;
          }

          h2,
          h3,
          p {
            max-width: 25.3rem;
            text-transform: uppercase;
          }

          .stars-container {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 0.5rem;
            margin-bottom: 1rem;

            svg {
              fill: $yellow1;
            }
          }
        }
      }

      .qr-code-container {
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        background: $violet1;
        padding: 3rem 4.4rem;
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
        position: relative;

        &::after {
          --dots-size: 1rem;
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border-left: var(--dots-size) dotted $violet2;
          transform: translateX(calc(var(--dots-size) / -2));
        }

        .qr-code-center {
          border: 0.5rem solid $violet2;
          padding: 2rem 3rem;
          border-radius: var(--border-radius);
        }
      }
    }
  }
}
