@use "@/styles/utils/" as *;

nav {
  width: 100%;
  color: $white;
  font-weight: 400;
  display: grid;
  place-items: center;
  background: $violet1;
  padding: 2rem 0rem;
  box-shadow: 0 0 5rem 2rem rgba(0, 0, 0, 0.02);
  margin-bottom: 5rem;

  .nav-center {
    width: min(80%, 100rem);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include desktop {
      justify-content: space-around;
    }

    .logo-container {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      text-transform: uppercase;
      font-weight: 300;

      .logo {
        max-width: 3rem;
      }

      .logo-text-container {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        line-height: 1.3;

        .logo-bottom-text {
          font-size: 1.2rem;
          letter-spacing: 0.12rem;
        }
      }
    }

    .nav-links {
      display: none;

      @include desktop {
        max-width: 51.7rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
        width: 100%;
      }

      li {
        transition: 0.2s;

        a {
          display: flex;
          align-items: center;
          gap: 1rem;
          text-decoration: none;
          color: inherit;

          &:hover {
            color: $red;
          }
        }
      }

      .sign-up-btn {
        background: $red;
        color: $white;
        padding: 0.3em 1.2em;
        border-radius: 0.3em;
        text-transform: capitalize;

        &:hover {
          background: $redLight;
        }
      }
    }

    .hamburger {
      @include desktop {
        display: none;
      }
    }
  }
}
