@use "@/utils/style/" as *;

.profile-element-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  font-size: 1.2rem;
  position: relative;

  img {
    max-width: 3.5rem;
    border-radius: 50%;
  }

  .profile-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: $violet2;
    padding: 2rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 1rem 1rem 8rem 0.5rem rgb(0 0 0 / 10%);
    transition: 0.25s;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    transform: translateY(3rem);
    opacity: 0;
    z-index: -1;

    &.show-menu {
      opacity: 1;
      z-index: 5;
      transform: translateY(1rem);
    }

    li {
      font-size: 1.4rem;
      white-space: nowrap;

      &:hover {
        color: $red;
      }

      &:not(:last-of-type) {
        border-bottom: 0.1rem solid $violet1;
        padding-bottom: 1.3rem;
      }
    }
  }
}
