@use "@/utils/style/" as *;

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  transition: 1s;
  z-index: 10;

  &.hide-sidemenu {
    z-index: -10;
    opacity: 0;

    .sidemenu-center {
      transform: translateX(150%);
    }
  }

  .sidemenu-center {
    width: min(100%, 30rem);
    min-height: 100vh;
    background: $violet2;
    text-align: center;
    padding: 14.4rem 0;
    transition: 0.5s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        width: 80%;
        padding: 1.5rem 0;
        transition: 0.5s;

        &:not(:first-of-type) {
          border-top: 0.1rem solid rgba(0, 0, 0, 0.15);
        }

        a:hover,
        button:hover {
          color: $red;
        }

        .sign-up-btn {
          background: $red;
          color: $white;
          padding: 0.3em 1.2em;
          border-radius: 0.3em;
          text-transform: capitalize;

          &:hover {
            background: $redLight;
            color: $white;
          }
        }
      }
    }
  }
}
