@use "@/utils/style/" as *;

.payment-form-container {
  .google-register-container {
    margin-bottom: 2rem;
    font-weight: 600 !important;

    .google-btn {
      max-width: 21.6rem;
      border-top-right-radius: 0.5rem !important;
      border-bottom-right-radius: 0.5rem !important;
    }

    .user-info {
      font-size: 1.6rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 1rem;
      color: $violet1;

      svg {
        fill: $green1;
      }
    }
  }
}
