@use "@/utils/style/" as *;

.payment-form-container {
  //   payment method selector
  .payment-method-container {
    width: 100%;

    h1 {
      color: $violet1;
      font-weight: 600;
      font-size: 1.8rem;
      margin-bottom: 1.8rem;
    }

    .filter-container {
      margin-bottom: 3rem;

      .filter {
        gap: 0;
        justify-content: start;
      }
    }
  }
}
