@use "../utils/" as *;

.event-page-container {
  width: min(90%, 40rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;

  @include desktop {
    width: min(90%, 100rem);
    display: grid;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
  }

  .poster-container {
    max-width: 35rem;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 2rem;

    @include desktop {
      place-self: end;
    }
  }

  .text-side-container {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;

    h1 {
      text-transform: capitalize;
      color: $violet2;
    }

    .info-element {
      display: flex;
      gap: 1rem;
      text-transform: capitalize;
      font-weight: 400;

      .info-element-label {
        font-weight: 500;
      }
    }

    .book-ticket-btn {
      background: $red;
      color: $white;
      padding: 0.3em 1.2em;
      border-radius: 0.2em;
      text-transform: capitalize;
      margin: 2rem 0;

      &:hover {
        background: $redLight;
      }
    }
  }

  .synopsis {
    margin-bottom: 2rem;

    h2 {
      color: $violet1;
      margin-bottom: 1rem;
    }
  }

  .room-location-container {
    width: 100%;
    grid-column: 1 / span 2;
  }
}
