@use "../utils/" as *;

.event-page-container {
  width: min(90%, 40rem);

  .poster-container {
    border-radius: 1rem;
    overflow: hidden;
  }

  .text-side-container {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;

    h1 {
      text-transform: capitalize;
      color: $violet2;
    }

    .info-element {
      display: flex;
      gap: 1rem;
      text-transform: capitalize;
      font-weight: 400;

      .info-element-label {
        font-weight: 500;
      }
    }

    .book-ticket-btn {
      background: $red;
      color: $white;
      padding: 0.3em 1.2em;
      border-radius: 0.2em;
      text-transform: capitalize;
      margin: 2rem 0;

      &:hover {
        background: $redLight;
      }
    }
  }
}
