@use "@/utils/style/" as *;

.home-container {
  width: min(100%, 100rem);
  display: flex;
  flex-direction: column;
  align-items: center;

  .home-header {
    $px: 1.5rem;
    padding: 1rem;
    padding-left: $px;
    padding-right: $px;
    margin-bottom: 1rem;
    width: min(90%, 83rem);

    h1 {
      font-size: 1.8rem;
      margin-bottom: 1rem;
      color: $violet2;

      @include tablet {
        font-size: 2.5rem;
        margin-bottom: 0.3rem;
      }
    }
  }
}
